<div style=" background-color: RGB(0,114,200);" >
<h1 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">PROJET 9 DATA ANALYST</h1>
<h2 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">
    
</h2>
</div>

# OBJECTIF DE CE NOTEBOOK
Bienvenue dans l'outil plébiscité par les analystes de données Jupyter.

Il s'agit d'un outil permettant de mixer et d'alterner codes, textes et graphique.

Cet outil est formidable pour plusieurs raisons:

- il permet de tester des lignes de codes au fur et à mesure de votre rédaction, de constater immédiatement le résultat d'un instruction, de la corriger si nécessaire.
- De rédiger du texte pour expliquer l'approche suivie ou les résultats d'une analyse et de le mettre en forme grâce à du code html ou plus simple avec <b>Markdown</b>
- d'agrémenter de graphiques

Pour vous aider dans vos premiers pas à l'usage de Jupyter et de Python, nous avons rédigé ce notebook en vous indiquant les instructions à suivre.

Il vous suffit pour cela de saisir le code Python répondant à l'instruction donnée.

Vous verrez de temps à autre le code Python répondant à une instruction donnée mais cela est fait pour vous aider à comprendre la nature du travail qui vous est demandée.

Et garder à l'esprit, qu'il n'y a pas de solution unique pour résoudre un problème et qu'il y a autant de résolutions de problèmes que de développeurs ;)...

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 1 - Importation des librairies et chargement des fichiers</h2>
</div>

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.1 - Importation des librairies</h3>
</div>

In [1]:
import pandas as pd
import numpy as np

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.2 - Chargement des fichiers</h3>
</div>

In [24]:
#Importation des fichiers csv
dispo_alim = pd.read_csv('DAN-P9-data/DisponibiliteAlimentaire_2017.csv', sep=',')
df_dispo_alim = pd.DataFrame(dispo_alim)

population = pd.read_csv('DAN-P9-data/Population_2000_2018.csv', sep=',')
df_population = pd.DataFrame(population)

macro_eco = pd.read_csv('Données_choisies/data_macro_eco.csv', sep=',')
df_macro_eco = pd.DataFrame(macro_eco)

stab_politique = pd.read_csv('Données_choisies/data_stab_politique.csv', sep=',')
df_stab_pol = pd.DataFrame(stab_politique)

In [3]:
df_dispo_alim.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées

In [4]:
df_dispo_alim = df_dispo_alim.pivot_table(
    index=['Zone', 'Année', 'Produit'],
    columns='Élément',
    values='Valeur',
    aggfunc='first'  # ou 'sum' si tu as plusieurs lignes pour une même combinaison
).reset_index()

In [5]:
df_dispo_alim.head()

Élément,Zone,Année,Produit,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
0,Afghanistan,2017,Abats Comestible,NaN,NaN,NaN,5.0,1.47,0.19,0.64,53.0,NaN,6.0,53.0,NaN,48.0,0.0,NaN,NaN,NaN
1,Afghanistan,2017,"Agrumes, Autres",NaN,NaN,NaN,1.0,1.32,0.01,0.02,50.0,0.0,33.0,48.0,2.0,17.0,0.0,NaN,NaN,NaN
2,Afghanistan,2017,"Alcool, non Comestible",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0
3,Afghanistan,2017,Aliments pour enfants,NaN,NaN,NaN,1.0,0.10,0.01,0.04,4.0,NaN,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2017,Ananas et produits,NaN,NaN,NaN,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,NaN,NaN,-0.0,NaN,NaN,NaN

In [6]:
df_dispo_alim.describe()

Élément,Année,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
count,16047.0,5560.000000,4188.000000,5292.000000,14476.000000,14618.000000,14512.000000,14507.000000,15905.000000,12113.000000,15260.000000,14498.000000,5813.000000,10334.000000,12567.000000,2112.000000,3546.000000,11299.000000
mean,2017.0,0.179496,361.943171,175.764928,33.962697,8.149033,1.045673,0.962651,694.599246,131.236110,96.930079,361.499448,105.257010,1090.312948,-3.043368,84.378314,735.305415,10.017258
std,0.0,3.589397,4045.919894,4979.484838,106.684337,24.304463,3.384062,3.248910,9717.089024,1376.616702,962.950046,5043.291136,1367.904219,12420.669023,52.383249,678.676108,8769.170271,381.004441
min,2017.0,-44.000000,-2.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,-828.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2912.000000,0.000000,0.000000,-10388.000000
25%,2017.0,0.000000,0.000000,0.000000,0.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,2017.0,0.000000,1.000000,0.000000,3.000000,0.610000,0.030000,0.030000,6.000000,0.000000,1.000000,4.000000,2.000000,15.000000,0.000000,2.000000,2.000000,0.000000
75%,2017.0,0.000000,31.000000,4.000000,20.000000,4.647500,0.370000,0.400000,75.000000,10.000000,18.000000,49.000000,19.000000,154.000000,0.000000,18.000000,42.000000,0.000000
max,2017.0,166.000000,187553.000000,319603.000000,1785.000000,457.700000,60.100000,48.680000,758548.000000,68156.000000,95538.000000,473967.000000,83476.000000,758548.000000,1870.000000,22501.000000,345510.000000,25089.000000

In [7]:
print(df_dispo_alim)

Élément          Zone  Année                 Produit  \
0         Afghanistan   2017        Abats Comestible
1         Afghanistan   2017         Agrumes, Autres
2         Afghanistan   2017  Alcool, non Comestible
3         Afghanistan   2017   Aliments pour enfants
4         Afghanistan   2017      Ananas et produits
...               ...    ...                     ...
16042    Îles Salomon   2017        Viande de Suides
16043    Îles Salomon   2017     Viande de Volailles
16044    Îles Salomon   2017           Viande, Autre
16045    Îles Salomon   2017                     Vin
16046    Îles Salomon   2017          Épices, Autres

Élément  Alimentation pour touristes  Aliments pour animaux  \
0                                NaN                    NaN
1                                NaN                    NaN
2                                NaN                    NaN
3                                NaN                    NaN
4                                NaN                    NaN
...                              ...                    ...
16042                           -0.0                    NaN
16043                           -0.0                    NaN
16044                           -0.0                    NaN
16045                           -0.0                    NaN
16046                           -0.0                    NaN

Élément  Autres utilisations (non alimentaire)  \
0                                          NaN
1                                          NaN
2                                          NaN
3                                          NaN
4                                          NaN
...                                        ...
16042                                      NaN
16043                                      NaN
16044                                      NaN
16045                                      NaN
16046                                      NaN

Élément  Disponibilité alimentaire (Kcal/personne/jour)  \
0                                                   5.0
1                                                   1.0
2                                                   NaN
3                                                   1.0
4                                                   0.0
...                                                 ...
16042                                              44.0
16043                                              18.0
16044                                               0.0
16045                                               0.0
16046                                               4.0

Élément  Disponibilité alimentaire en quantité (kg/personne/an)  \
0                                                     1.47
1                                                     1.32
2                                                      NaN
3                                                     0.10
4                                                     0.00
...                                                    ...
16042                                                 4.49
16043                                                 4.45
16044                                                 0.01
16045                                                 0.25
16046                                                 0.48

Élément  Disponibilité de matière grasse en quantité (g/personne/jour)  \
0                                                     0.19
1                                                     0.01
2                                                      NaN
3                                                     0.01
4                                                     0.00
...                                                    ...
16042                                                 4.24
16043                                                 1.31
16044                                                 0.00
16045                                                 0.00
16046                                                 0.20

Élément  Disponibilité de protéines en quantité (g/personne/jour)  \
0                                                     0.64
1                                                     0.02
2                                                      NaN
3                                                     0.04
4                                                     0.00
...                                                    ...
16042                                                 1.38
16043                                                 1.51
16044                                                 0.00
16045                                                 0.00
16046                                                 0.15

Élément  Disponibilité intérieure  Exportations - Quantité  \
0                            53.0                      NaN
1                            50.0                      0.0
2                             0.0                      NaN
3                             4.0                      NaN
4                             0.0                      0.0
...                           ...                      ...
16042                         3.0                      NaN
16043                         3.0                      0.0
16044                         0.0                      NaN
16045                         0.0                      0.0
16046                         0.0                      0.0

Élément  Importations - Quantité  Nourriture  Pertes  Production  Résidus  \
0                            6.0        53.0     NaN        48.0      0.0
1                           33.0        48.0     2.0        17.0      0.0
2                            0.0         NaN     NaN         NaN      0.0
3                            4.0         4.0     NaN         NaN      NaN
4                            0.0         0.0     NaN         NaN     -0.0
...                          ...         ...     ...         ...      ...
16042                        0.0         3.0     NaN         2.0      0.0
16043                        6.0         3.0     NaN         0.0      0.0
16044                        0.0         0.0     NaN         NaN      0.0
16045                        0.0         0.0     NaN         NaN      0.0
16046                        0.0         0.0     NaN         0.0      0.0

Élément  Semences  Traitement  Variation de stock
0             NaN         NaN                 NaN
1             NaN         NaN                 NaN
2             NaN         NaN                 0.0
3             NaN         NaN                 NaN
4             NaN         NaN                 NaN
...           ...         ...                 ...
16042         NaN         NaN                -0.0
16043         NaN         NaN                 3.0
16044         NaN         NaN                 0.0
16045         NaN         NaN                 0.0
16046         NaN         NaN                 0.0

[16047 rows x 20 columns]

In [8]:
df_population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN

In [9]:
df_population.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,4411.000000,4411.0,4411.0,4411.000000,4411.000000,4.411000e+03
mean,132.202902,511.0,3010.0,2009.068238,2009.068238,2.963004e+04
std,75.854840,0.0,0.0,5.481539,5.481539,1.238029e+05
min,1.000000,511.0,3010.0,2000.000000,2000.000000,7.850000e-01
25%,68.000000,511.0,3010.0,2004.000000,2004.000000,3.921890e+02
50%,132.000000,511.0,3010.0,2009.000000,2009.000000,4.764741e+03
75%,195.000000,511.0,3010.0,2014.000000,2014.000000,1.821548e+04
max,299.000000,511.0,3010.0,2018.000000,2018.000000,1.427648e+06

In [10]:
df_macro_eco.head()

,Code Domaine,Domaine,Code zone (M49),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,MK,Indicateurs macro,4,Afghanistan,6110,Valeur US $,22008,Produit Intérieur Brut,2017,2017,Millions d’USD,19034.302820,X,Ciffre de sources internationales,NaN
1,MK,Indicateurs macro,4,Afghanistan,6110,Valeur US $,22015,Formation brute de capital fixe,2017,2017,Millions d’USD,2640.511428,X,Ciffre de sources internationales,NaN
2,MK,Indicateurs macro,4,Afghanistan,6110,Valeur US $,22016,"Valeur ajoutée (agriculture, sylviculture et p...",2017,2017,Millions d’USD,4839.052802,X,Ciffre de sources internationales,NaN
3,MK,Indicateurs macro,4,Afghanistan,6110,Valeur US $,22075,Valeur ajoutée (Industrie manufacturière),2017,2017,Millions d’USD,786.046347,X,Ciffre de sources internationales,NaN
4,MK,Indicateurs macro,4,Afghanistan,6110,Valeur US $,22011,Revenu national brut,2017,2017,Millions d’USD,19284.783174,X,Ciffre de sources internationales,NaN

In [11]:
df_macro_eco['Année'] = df_macro_eco['Année'].replace('2016-2018', '2017')
df_macro_eco = df_macro_eco.pivot_table(
    index=['Zone', 'Année'],
    columns='Produit',
    values='Valeur',
    aggfunc='first'  # ou 'sum' si tu as plusieurs lignes pour une même combinaison
).reset_index()

In [12]:
df_macro_eco.head()

Produit,Zone,Année,Formation brute de capital fixe,Production brute (Agriculture),"Production brute (Agriculture, Sylviculture et Pêche)",Produit Intérieur Brut,Revenu national brut,Valeur ajoutée (Agriculture),Valeur ajoutée (Fabrication de produits alimentaires et boissons),"Valeur ajoutée (Fabrication de produits alimentaires, boissons et de produits à base de tabac)",Valeur ajoutée (Fabrication de produits à base de tabac),Valeur ajoutée (Industrie manufacturière),"Valeur ajoutée (agriculture, sylviculture et pêche)"
0,Afghanistan,2017,2640.511428,NaN,NaN,1.903430e+04,1.928478e+04,NaN,NaN,NaN,NaN,786.046347,4839.052802
1,Afrique du Sud,2017,62455.086345,NaN,NaN,3.808514e+05,3.702922e+05,NaN,NaN,NaN,NaN,47654.815787,9497.668131
2,Albanie,2017,3199.794360,NaN,3446.891674,1.301973e+04,1.305152e+04,NaN,130.719853,130.719853,NaN,801.776692,2476.629502
3,Algérie,2017,69367.833111,NaN,NaN,1.700970e+05,1.679101e+05,NaN,NaN,NaN,NaN,7347.077916,19996.432166
4,Allemagne,2017,760287.858258,61576.661565,69061.929040,3.690849e+06,3.778789e+06,27225.316352,NaN,NaN,NaN,752576.654547,31436.767779

In [13]:
df_macro_eco.describe

<bound method NDFrame.describe of Produit                       Zone  Année  Formation brute de capital fixe  \
0                      Afghanistan   2017                      2640.511428
1                   Afrique du Sud   2017                     62455.086345
2                          Albanie   2017                      3199.794360
3                          Algérie   2017                     69367.833111
4                        Allemagne   2017                    760287.858258
..                             ...    ...                              ...
206                      Îles Cook   2017                        32.724540
207                  Îles Marshall   2017                        48.142559
208                   Îles Salomon   2017                       266.526684
209        Îles Turques-et-Caïques   2017                       166.601403
210      Îles Vierges britanniques   2017                       312.970412

Produit  Production brute (Agriculture)  \
0                                   NaN
1                                   NaN
2                                   NaN
3                                   NaN
4                          61576.661565
..                                  ...
206                                 NaN
207                                 NaN
208                                 NaN
209                                 NaN
210                            1.206000

Produit  Production brute (Agriculture, Sylviculture et Pêche)  \
0                                                      NaN
1                                                      NaN
2                                              3446.891674
3                                                      NaN
4                                             69061.929040
..                                                     ...
206                                                    NaN
207                                                    NaN
208                                                    NaN
209                                                    NaN
210                                               4.776000

Produit  Produit Intérieur Brut  Revenu national brut  \
0                  1.903430e+04          1.928478e+04
1                  3.808514e+05          3.702922e+05
2                  1.301973e+04          1.305152e+04
3                  1.700970e+05          1.679101e+05
4                  3.690849e+06          3.778789e+06
..                          ...                   ...
206                3.456090e+02          3.456090e+02
207                2.127012e+02          2.662970e+02
208                1.469790e+03          1.440171e+03
209                1.022365e+03          1.118672e+03
210                1.309700e+03          1.194948e+03

Produit  Valeur ajoutée (Agriculture)  \
0                                 NaN
1                                 NaN
2                                 NaN
3                                 NaN
4                        27225.316352
..                                ...
206                               NaN
207                               NaN
208                               NaN
209                               NaN
210                          0.663000

Produit  Valeur ajoutée (Fabrication de produits alimentaires et boissons)  \
0                                                      NaN
1                                                      NaN
2                                               130.719853
3                                                      NaN
4                                                      NaN
..                                                     ...
206                                                    NaN
207                                               8.700058
208                                                    NaN
209                                                    NaN
210                                                    NaN

Produit  Valeur ajoutée (Fabrication de produits alimentaires, boissons et de produits à base de tabac)  \
0                                                      NaN
1                                                      NaN
2                                               130.719853
3                                                      NaN
4                                                      NaN
..                                                     ...
206                                                    NaN
207                                               8.700058
208                                                    NaN
209                                                    NaN
210                                                    NaN

Produit  Valeur ajoutée (Fabrication de produits à base de tabac)  \
0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                                      NaN
4                                                      NaN
..                                                     ...
206                                                    NaN
207                                                    NaN
208                                                    NaN
209                                                    NaN
210                                                    NaN

Produit  Valeur ajoutée (Industrie manufacturière)  \
0                                       786.046347
1                                     47654.815787
2                                       801.776692
3                                      7347.077916
4                                    752576.654547
..                                             ...
206                                       7.874900
207                                       8.833360
208                                     151.916862
209                                       6.399000
210                                      26.275000

Produit  Valeur ajoutée (agriculture, sylviculture et pêche)
0                                              4839.052802
1                                              9497.668131
2                                              2476.629502
3                                             19996.432166
4                                             31436.767779
..                                                     ...
206                                              10.096146
207                                              34.079666
208                                             489.149305
209                                               4.766000
210                                               1.742000

[211 rows x 13 columns]>

In [25]:
df_stab_pol.head()

,Code Domaine,Domaine,Code zone (M49),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,4,Afghanistan,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,NaN,-2.79,X,Chiffre de sources internationales,NaN
1,FS,Données de la sécurité alimentaire,710,Afrique du Sud,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,NaN,-0.28,X,Chiffre de sources internationales,NaN
2,FS,Données de la sécurité alimentaire,8,Albanie,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,NaN,0.37,X,Chiffre de sources internationales,NaN
3,FS,Données de la sécurité alimentaire,12,Algérie,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,NaN,-0.92,X,Chiffre de sources internationales,NaN
4,FS,Données de la sécurité alimentaire,276,Allemagne,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,NaN,0.57,X,Chiffre de sources internationales,NaN

In [26]:
df_stab_pol.describe()

,Code zone (M49),Code Élément,Code Produit,Code année,Année,Unité,Valeur,Note
count,196.000000,196.0,196.0,196.0,196.0,0.0,196.000000,0.0
mean,428.255102,6125.0,21032.0,2017.0,2017.0,NaN,-0.068265,NaN
std,255.081277,0.0,0.0,0.0,0.0,NaN,0.992503,NaN
min,4.000000,6125.0,21032.0,2017.0,2017.0,NaN,-2.930000,NaN
25%,211.000000,6125.0,21032.0,2017.0,2017.0,NaN,-0.655000,NaN
50%,424.000000,6125.0,21032.0,2017.0,2017.0,NaN,0.025000,NaN
75%,643.750000,6125.0,21032.0,2017.0,2017.0,NaN,0.762500,NaN
max,894.000000,6125.0,21032.0,2017.0,2017.0,NaN,1.930000,NaN

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 2 - Analyse exploratoire et nettoyage des fichiers</h2>
</div>

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.1 - Analyse exploratoire du fichier Disponibilité Alimentaire</h3>
</div>

In [14]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_dispo_alim.shape[0]))
print("Le tableau comporte {} colone(s)".format(df_dispo_alim.shape[1]))

Le tableau comporte 16047 observation(s) ou article(s)
Le tableau comporte 20 colone(s)

In [15]:
df_dispo_alim.dtypes

Élément
Zone                                                              object
Année                                                              int64
Produit                                                           object
Alimentation pour touristes                                      float64
Aliments pour animaux                                            float64
Autres utilisations (non alimentaire)                            float64
Disponibilité alimentaire (Kcal/personne/jour)                   float64
Disponibilité alimentaire en quantité (kg/personne/an)           float64
Disponibilité de matière grasse en quantité (g/personne/jour)    float64
Disponibilité de protéines en quantité (g/personne/jour)         float64
Disponibilité intérieure                                         float64
Exportations - Quantité                                          float64
Importations - Quantité                                          float64
Nourriture                                                       float64
Pertes                                                           float64
Production                                                       float64
Résidus                                                          float64
Semences                                                         float64
Traitement                                                       float64
Variation de stock                                               float64
dtype: object

In [16]:
nb_zone = df_dispo_alim['Zone'].unique()
print(f"Nombre de valeurs uniques dans la colonne 'zone' : {len(nb_zone)}")

Nombre de valeurs uniques dans la colonne 'zone' : 174

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.2 - Analyse exploratoire du fichier Population</h3>
</div>

In [17]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_population.shape[0]))
print("Le tableau comporte {} colone(s)".format(df_population.shape[1]))

Le tableau comporte 4411 observation(s) ou article(s)
Le tableau comporte 15 colone(s)

In [18]:
df_population.dtypes

Code Domaine               object
Domaine                    object
Code zone                   int64
Zone                       object
Code Élément                int64
Élément                    object
Code Produit                int64
Produit                    object
Code année                  int64
Année                       int64
Unité                      object
Valeur                    float64
Symbole                    object
Description du Symbole     object
Note                       object
dtype: object

In [19]:
df_pop_2017 = df_population[df_population['Année'] == 2017]
df_pop_2017.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
17,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,36296.113,X,Sources internationales sûres,NaN
36,OA,Séries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,57009.756,X,Sources internationales sûres,NaN
55,OA,Séries temporelles annuelles,3,Albanie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,2884.169,X,Sources internationales sûres,NaN
74,OA,Séries temporelles annuelles,4,Algérie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,41389.189,X,Sources internationales sûres,NaN
93,OA,Séries temporelles annuelles,79,Allemagne,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,82658.409,X,Sources internationales sûres,NaN

In [20]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_pop_2017.shape[0]))
print("Le tableau comporte {} colone(s)".format(df_pop_2017.shape[1]))

Le tableau comporte 236 observation(s) ou article(s)
Le tableau comporte 15 colone(s)

In [21]:
nb_zone = df_pop_2017['Zone'].unique()
print(f"Nombre de valeurs uniques dans la colonne 'zone' : {len(nb_zone)}")

Nombre de valeurs uniques dans la colonne 'zone' : 236

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.3 - Analyse exploratoire du fichier Macro éco</h3>
</div>

In [22]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_macro_eco.shape[0]))
print("Le tableau comporte {} colone(s)".format(df_macro_eco.shape[1]))

Le tableau comporte 211 observation(s) ou article(s)
Le tableau comporte 13 colone(s)

In [23]:
df_macro_eco.dtypes

Produit
Zone                                                                                               object
Année                                                                                               int64
Formation brute de capital fixe                                                                   float64
Production brute (Agriculture)                                                                    float64
Production brute (Agriculture, Sylviculture et Pêche)                                             float64
Produit Intérieur Brut                                                                            float64
Revenu national brut                                                                              float64
Valeur ajoutée (Agriculture)                                                                      float64
Valeur ajoutée (Fabrication de produits alimentaires et boissons)                                 float64
Valeur ajoutée (Fabrication de produits alimentaires, boissons et de produits à base de tabac)    float64
Valeur ajoutée (Fabrication de produits à base de tabac)                                          float64
Valeur ajoutée (Industrie manufacturière)                                                         float64
Valeur ajoutée (agriculture, sylviculture et pêche)                                               float64
dtype: object

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.4 - Analyse exploratoire du fichier stabilité politique</h3>
</div>

In [27]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_macro_eco.shape[0]))
print("Le tableau comporte {} colone(s)".format(df_macro_eco.shape[1]))

Le tableau comporte 1398 observation(s) ou article(s)
Le tableau comporte 15 colone(s)

In [28]:
df_macro_eco.dtypes

Code Domaine               object
Domaine                    object
Code zone (M49)             int64
Zone                       object
Code Élément                int64
Élément                    object
Code Produit                int64
Produit                    object
Code année                  int64
Année                       int64
Unité                      object
Valeur                    float64
Symbole                    object
Description du Symbole     object
Note                      float64
dtype: object